<% provide(:title,"TOPページ") %>
<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <div class="info">
    <div class="btn-position">
      <p><%= link_to t('view.tops.allsupports'), allsupports_index_path, class:"btn btn-primary btn-lg" %></p>
    </div>
  </div>
  <div class="info">
    <div class="link-btn btn-position1">
      <P><%= link_to t('view.tops.support_programs'), support_programs_path, class:"btn btn-primary btn-lg" %></P>
    </div>

    <div class="link-btn btn-position1">
      <P><%= link_to t('view.tops.detail_reports'), detail_reports_path, class:"btn btn-primary btn-lg" %></P>
    </div>


    <div class="link-btn btn-position1">
      <p><%= link_to t('view.tops.boss_check_comments'), boss_check_comments_path, class:"btn btn-primary btn-lg" %></p>
    </div>


    <div class="link-btn btn-position1">
      <P><%= link_to t('view.tops.sales_check_comments'), sales_check_comments_path, class:"btn btn-primary btn-lg" %></P>
    </div>
  </div>
  <div class="info">
    <div class="link-btn btn-position2">
      <p><%= link_to t('view.tops.customers'), customers_path, class:"btn btn-primary btn-lg" %></p>
    </div>
    <div class="btn-position2">
      <P><%= link_to t('view.tops.installed_products'), installed_products_path, class:"btn btn-primary btn-lg" %></P>
    </div>
  </div>
  <div class="info">
    <div class="link-btn btn-position3">
      <p><%= link_to t('view.tops.products'), products_path, class:"btn btn-primary btn-lg" %></p>
    </div>
    <div class="btn-position3">
      <P><%= link_to t('view.tops.parts'), parts_path, class:"btn btn-primary btn-lg" %></P>
    </div>
  </div>
  <div class="info">
    <div class="btn-position">
      <P><%= link_to t('view.tops.users'), users_path, class:"btn btn-primary btn-lg" %></P>
    </div>
  </div>
</div>
