<h1>TOPページ</h1>
<div>
  <%= link_to t('view.tops.allsupports'), allsupports_index_path %>
</div>
<div>
  <%= link_to t('view.tops.support_programs'), support_programs_path %>
</div>
<div>
<%= link_to t('view.tops.detail_reports'), detail_reports_path %>
</div>
<div>
<%= link_to t('view.tops.boss_check_comments'), boss_check_comments_path %>
</div>
<div>
<%= link_to t('view.tops.sales_check_comments'), sales_check_comments_path %>
</div>
<div>
<%= link_to t('view.tops.customers'), customers_path %>
</div>
<div>
<%= link_to t('view.tops.installed_products'), installed_products_path %>
</div>
<div>
<%= link_to t('view.tops.products'), products_path %>
</div>
<div>
<%= link_to t('view.tops.parts'), parts_path %>
</div>
<div>
<%= link_to t('view.tops.users'), users_path %>
</div>
