<h1>HOME</h1>
<div>
  <p>完了案件情報</p>
  <%= link_to "allsupports", allsupports_index_path %>
</div>
<div>
  <p>保守案件情報</p>
  <%= link_to "support_programs", support_programs_path %>
</div>
<div>
<p>作業内容報告</p>
<%= link_to "detail_reports", detail_reports_path %>
</div>
<div>
<p>上長確認</p>
<%= link_to "boss_check_comments", boss_check_comments_path %>
</div>
<div>
<p>営業確認</p>
<%= link_to "sales_check_comments", sales_check_comments_path %>
</div>
<div>
<p>顧客情報</p>
<%= link_to "customers", customers_path %>
</div>
<div>
<p>納入機器情報</p>
<%= link_to "installed_products", installed_products_path %>
</div>
<div>
<p>製品情報</p>
<%= link_to "products", products_path %>
</div>
<div>
<p>保守パーツ情報</p>
<%= link_to "parts", parts_path %>
</div>
<div>
<p>写真情報</p>
<%= link_to "users", users_path %>
</div>
