<%= form_with(model: @part, local: true, url: choose_new_or_edit_part ) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.detail_report_id'), class:"control-label" %>
      <%= form.select :detail_report_id, DetailReport.all.map{|o| [o.id, o.id]},{include_blank: "紐付け無"},  class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.name'), class:"control-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.type_name'), class:"control-label" %>
      <%= form.text_field :type_name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.category'), class:"control-label" %>
      <%= form.text_field :category, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.list_price'), class:"control-label" %>
      <%= form.number_field :list_price, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.stock'), class:"control-label" %>
      <%= form.number_field :stock, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.release_date'), class:"control-label" %>
      <%= form.date_field :release_date, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.end_of_production'), class:"control-label" %>
      <%= form.date_field :end_of_production, class: "form-control" %>
    </div>
    <div class="field form-group col-xs-3">
      <%= form.label t('view.parts.end_of_service'), class:"control-label" %>
      <%= form.date_field :end_of_service, class: "form-control" %>
    </div>
  </div>


  <div class="actions create-new">
    <%= form.submit class:"btn btn-warning" %>
  </div>
<% end %>
