<h1>保守パーツ -新規登録確認-</h1>
<%= form_with(model: @part, local: true) do |form| %>
<div>
  <%= form.hidden_field :detail_report_id %>
</div>
<div>
  <%= form.hidden_field :name %>
</div>
<div>
  <%= form.hidden_field :type_name %>
</div>
<div>
  <%= form.hidden_field :category %>
</div>
<div>
  <%= form.hidden_field :list_price %>
</div>
<div>
  <%= form.hidden_field :stock %>
</div>
<div>
  <%= form.hidden_field :release_date %>
</div>
<div>
  <%= form.hidden_field :end_of_production %>
</div>
<div>
  <%= form.hidden_field :end_of_service %>
</div>
<div>
  <P><%= t('view.parts.detail_report_id')%>: <%= @part.detail_report_id %></P>
</div>
<div>
  <P><%= t('view.parts.name')%>: <%= @part.name %></P>
</div>
<div>
  <P><%= t('view.parts.type_name')%>: <%= @part.type_name %></P>
</div>
<div>
  <P><%= t('view.parts.category')%>: <%= @part.category %></P>
</div>
<div>
  <P><%= t('view.parts.list_price')%>: <%= @part.list_price %></P>
</div>
<div>
  <P><%= t('view.parts.stock')%>: <%= @part.stock %></P>
</div>
<div>
  <P><%= t('view.parts.release_date')%>: <%= @part.release_date %></P>
</div>
<div>
  <P><%= t('view.parts.end_of_production')%>: <%= @part.end_of_production %></P>
</div>
<div>
  <P><%= t('view.parts.end_of_service')%>: <%= @part.end_of_service %></P>
</div>
<div>
 <%= form.submit t('view.parts.confirm_to_submit')%>
</div>
<div>
  <%= form.submit t('view.parts.back'), name: 'back'%>
</div>
<% end %>
