<h1><% provide(:title,"保守パーツ情報 一覧") %></h1>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="upper-box">
    <%= search_form_for @search do |form| %>
    <div class="row">
      <div class="field form-group col-xs-3">
        <%= form.label :name_cont, "保守パーツ名 検索:" %>
        <%= form.text_field :name_cont, class:"form-control"  %>
      </div>
      <div class="field form-group col-xs-3">
        <%= form.label :type_name_cont, "保守パーツ型式名 検索:" %>
        <%= form.text_field :type_name_cont, class:"form-control"  %>
      </div>
      <div class="field form-group col-xs-3">
        <%= form.label :category_cont, "保守パーツ種類 検索:" %>
        <%= form.text_field :category_cont, class:"form-control"  %>
      </div>
    </div>
    <div class="action"><%= form.submit t('view.parts.search'), class:"btn btn-primary" %></div>
    <% end %>
  </div>
  <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
      <tr>
      <th><%= t('view.parts.detail_report_id')%></th>
      <th><%= t('view.parts.name')%></th>
      <th><%= t('view.parts.type_name')%></th>
      <th><%= sort_link @search, :category, t('view.parts.category')%></th>
      <th><%= t('view.parts.list_price')%></th>
      <th><%= t('view.parts.stock')%></th>
      <th><%= sort_link @search, :release_date, t('view.parts.release_date')%></th>
      <th><%= sort_link @search, :end_of_production, t('view.parts.end_of_production')%></th>
      <th><%= sort_link @search, :end_of_service, t('view.parts.end_of_service')%></th>
      <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @parts.each do |part| %>
      <tr>
      <td><%= part.detail_report_id %></td>
      <td><%= part.name %></td>
      <td><%= part.type_name %></td>
      <td><%= part.category %></td>
      <td><%= part.list_price.to_s(:delimited) %>円</td>
      <td><%= part.stock %></td>
      <td><%= part.release_date %></td>
      <td><%= part.end_of_production %></td>
      <td><%= part.end_of_service %></td>
      <td><%= link_to t('view.parts.show'), part, class:"btn btn-info btn-xs" %></td>
      <% if tech_and_admin_display %>
        <td><%= link_to t('view.parts.edit'), edit_part_path(part), class:"btn btn-warning btn-xs" %></td>
        <td><%= link_to t('view.parts.delete'), part, method: :delete, data: { confirm: '削除しますか?' }, class:"btn btn-danger btn-xs" %></td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @parts %>
  <div class="create-new pull-right">
    <% if tech_and_admin_display %>
    <%= link_to t('view.parts.to_new'), new_part_path, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
