<p id="notice"><%= notice %></p>
<h1>保守パーツ情報 -詳細-</h1>

<p>
  <strong><%= t('view.parts.detail_report_id')%>:</strong>
  <%= @part.detail_report_id %>
</p>

<p>
  <strong><%= t('view.parts.name')%>:</strong>
  <%= @part.name %>
</p>

<p>
  <strong><%= t('view.parts.type_name')%>:</strong>
  <%= @part.type_name %>
</p>

<p>
  <strong><%= t('view.parts.category')%>:</strong>
  <%= @part.category %>
</p>

<p>
  <strong><%= t('view.parts.list_price')%>:</strong>
  <%= @part.list_price %>
</p>

<p>
  <strong><%= t('view.parts.stock')%>:</strong>
  <%= @part.stock %>
</p>

<p>
  <strong><%= t('view.parts.release_date')%>:</strong>
  <%= @part.release_date %>
</p>

<p>
  <strong><%= t('view.parts.end_of_production')%>:</strong>
  <%= @part.end_of_production %>
</p>

<p>
  <strong><%= t('view.parts.end_of_service')%>:</strong>
  <%= @part.end_of_service %>
</p>

<%= link_to t('view.parts.edit'), edit_part_path(@part) %> |
<%= link_to t('view.parts.to_index'), parts_path %>
