<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t('view.users.number') %><br />
    <%= f.number_field :employee_number, autofocus: true, autocomplete: "employee_number" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.name') %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.department') %><br />
    <%= f.select :department, User.departments.keys.to_a, {}, autofocus: true, autocomplete: "department" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.position') %><br />
    <%= f.select :position, User.positions.keys.to_a, {}, autofocus: true, autocomplete: "position" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.permission') %><br />
    <%= f.select :permission, {"true": "ture", "false": "false"}, autofocus: true, autocomplete: "permission" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.cellphone_number') %><br />
    <%= f.number_field :cellphone_number, autofocus: true, autocomplete: "cellphone_number" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.stay_or_left') %><br />
    <%= f.select :stay_or_left, User.stay_or_lefts.keys.to_a, {}, autofocus: true, autocomplete: "stay_or_left" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.password') %>
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %>文字以上</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label t('view.users.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('view.devise.Sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
