<h1><%= t('view.user_mailer.intstalled_product_content1') %></h1>
<h4><%= @installed_product.customer.name%><%= t('view.user_mailer.dear') %><%= @installed_product.product.name%><%= t('view.user_mailer.intstalled_product_content2') %></h4>
