  <h1><%= t('view.user_mailer.welcom1') %> <%= @user.name %><%= t('view.user_mailer.dear') %></h1>
    <hr />
    <p>
      <%= t('view.user_mailer.welcom2') %>
    </p>
    <p>
    <%= t('view.user_mailer.welcom3') %><%= @user.name %>
    </p>
    <p>
      <%= t('view.user_mailer.welcom4') %><%= @user.email %>
    </p>
    <hr />
  </div>
