<%= form_with(model: @support_program, local: true, url: choose_new_or_edit_support_program ) do |form| %>
  <% if support_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support_program.errors.count, "error") %> prohibited this support_program from being saved:</h2>

      <ul>
      <% support_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select :customer_id, Customer.all.map{|o| [o.name, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.all.map{|o| [o.name, o.id]} %>
  </div>

  <div class="field">
    <%= form.label :title_number %>
    <%= form.number_field :title_number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :main_work %>
    <%= form.text_area :main_work %>
  </div>

  <div class="field">
    <%= form.label :planed_or_argent %><br />
    <%= form.select :planed_or_argent, SupportProgram.planed_or_argents.keys.to_a, {}, autofocus: true, autocomplete: "planed_or_argent" %>
  </div>

  <div class="field">
    <%= form.label :order_status %><br />
    <%= form.select :order_status, {"true": "ture", "false": "false"}, autofocus: true, autocomplete: "order_status" %>
  </div>


  <div class="field">
    <%= form.label :kick_off_date %>
    <%= form.date_select :kick_off_date %>
  </div>

  <div class="field">
    <%= form.label :closed %><br />
    <%= form.select :closed, SupportProgram.closeds.keys.to_a, {}, autofocus: true, autocomplete: "closed" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
