<h1>保守案件 -登録確認-</h1>
<%= form_with(model: @support_program, local: true) do |form| %>
<div>
  <%= form.hidden_field :title_number %>
</div>
<div>
  <%= form.hidden_field :customer_id %>
</div>
<div>
  <%= form.hidden_field :title %>
</div>
<div>
  <%= form.hidden_field :user_id %>
</div>
<div>
  <%= form.hidden_field :main_work %>
</div>
<div>
  <%= form.hidden_field :planed_or_argent %>
</div>
<div>
  <%= form.hidden_field :order_status %>
</div>
<div>
  <%= form.hidden_field :kick_off_date %>
</div>
<div>
  <%= form.hidden_field :closed %>
</div>
<div>
  <P><%= t('view.support_programs.title_number') %>: <%= @support_program.title_number %></P>
</div>
<div>
  <P><%= t('view.support_programs.customer') %>: <%= @support_program.customer.name %></P>
</div>
<div>
  <P><%= t('view.support_programs.title') %>: <%= @support_program.title %></P>
</div>
<div>
  <P><%= t('view.support_programs.user') %>: <%= @support_program.user.name %></P>
</div>
<div>
  <P><%= t('view.support_programs.main_work') %>: <%= @support_program.main_work %></P>
</div>
<div>
  <P><%= t('view.support_programs.planed_or_argent') %>: <%= @support_program.planed_or_argent %></P>
</div>
<div>
  <P><%= t('view.support_programs.order_status') %>: <%= @support_program.order_status == true ? "受注済" : "未受注" %></P>
</div>
<div>
  <P><%= t('view.support_programs.kick_off_date') %>: <%= @support_program.kick_off_date %></P>
</div>
<div>
  <P><%= t('view.support_programs.closed') %>: <%= @support_program.closed %></P>
</div>
<div>
 <%= form.submit t('view.support_programs.confirm_to_submit') %>
</div>
<div>
  <%= form.submit 'back', name: 'back'%>
</div>
<% end %>
