<p id="notice"><%= notice %></p>

<h1>Support Programs</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title number</th>
      <th>Customer</th>
      <th>Title</th>
      <th>User</th>
      <th>Main work</th>
      <th>Planed or argent</th>
      <th>Order status</th>
      <th>Kick off date</th>
      <th>Closed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @support_programs.each do |support_program| %>
      <tr>
        <td><%= support_program.title_number %></td>
        <td><%= support_program.customer.name %></td>
        <td><%= support_program.title %></td>
        <td><%= support_program.user.name %></td>
        <td><%= support_program.main_work %></td>
        <td><%= support_program.planed_or_argent %></td>
        <td><%= support_program.order_status %></td>
        <td><%= support_program.kick_off_date %></td>
        <td><%= support_program.closed %></td>
        <td><%= link_to 'Show', support_program %></td>
        <td><%= link_to 'Edit', edit_support_program_path(support_program) %></td>
        <td><%= link_to 'Destroy', support_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support Program', new_support_program_path %>
