<p id="notice"><%= notice %></p>

<h1>保守案件 一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th><%= t('view.support_programs.title_number') %></th>
      <th><%= t('view.support_programs.customer') %></th>
      <th><%= t('view.support_programs.title') %></th>
      <th><%= t('view.support_programs.user') %></th>
      <th><%= t('view.support_programs.main_work') %></th>
      <th><%= t('view.support_programs.planed_or_argent') %></th>
      <th><%= t('view.support_programs.order_status') %></th>
      <th><%= t('view.support_programs.kick_off_date') %></th>
      <th><%= t('view.support_programs.closed') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @support_programs.each do |support_program| %>
      <tr>
        <td><%= support_program.title_number %></td>
        <td><%= support_program.customer.name %></td>
        <td><%= support_program.title %></td>
        <td><%= support_program.user.name %></td>
        <td><%= support_program.main_work %></td>
        <td><%= support_program.planed_or_argent %></td>
        <td><%= support_program.order_status == true ? "受注済" : "未受注" %></td>
        <!-- <td><%= support_program.order_status %></td> -->
        <td><%= support_program.kick_off_date %></td>
        <td><%= support_program.closed %></td>
        <td><%= link_to t('view.support_programs.show'), support_program %></td>
        <td><%= link_to t('view.support_programs.edit'), edit_support_program_path(support_program) %></td>
        <td><%= link_to t('view.support_programs.delete'), support_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.support_programs.to_new'), new_support_program_path %>
