<p id="notice"><%= notice %></p>

<h1>保守案件 一覧</h1>
<%= search_form_for @search do |form| %>
<div class="field">
  <%= form.label :title_number_eq, "保守案件番号 検索:" %>
  <%= form.text_field :title_number_eq %>
</div>
<div class="field">
  <%= form.label :customer_name_cont, "顧客名 検索:" %>
  <%= form.text_field :customer_name_cont %>
</div>
<div class="field">
  <%= form.label :title_cont, "保守案件名 検索:" %>
  <%= form.text_field :title_cont %>
</div>
<div class="field">
  <%= form.label :user_name_cont, "担当者名 検索:" %>
  <%= form.text_field :user_name_cont %>
</div>
<div>
  <%= form.label :planed_or_argent_eq, "計画/緊急 検索: " %>
  <%= form.select :planed_or_argent_eq, [['計画', 0], ['緊急', 1]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div>
  <%= form.label :order_status_eq, "受注状況 検索: " %>
  <%= form.select :order_status_eq, [['受注済', true], ['未受注', false]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div>
  <%= form.label :closed_eq, "案件完了状態 検索: " %>
  <%= form.select :closed_eq, [['未完了', 0], ['完了', 1]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div class="action"><%= form.submit "Search" %></div>
<% end %>

<table border="1">
  <thead>
    <tr>
      <th><%= sort_link @search, :title_number,t('view.support_programs.title_number') %></th>
      <th><%= t('view.support_programs.customer') %></th>
      <th><%= t('view.support_programs.title') %></th>
      <th><%= t('view.support_programs.user') %></th>
      <th><%= t('view.support_programs.main_work') %></th>
      <th><%= t('view.support_programs.planed_or_argent') %></th>
      <th><%= t('view.support_programs.order_status') %></th>
      <th><%= sort_link @search, :kick_off_date, t('view.support_programs.kick_off_date') %></th>
      <th><%= t('view.support_programs.closed') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @support_programs.each do |support_program| %>
      <tr>
        <td><%= support_program.title_number %></td>
        <td><%= support_program.customer.name %></td>
        <td><%= support_program.title %></td>
        <td><%= support_program.user.name %></td>
        <td><%= support_program.main_work %></td>
        <td><%= support_program.planed_or_argent %></td>
        <td><%= support_program.order_status == true ? "受注済" : "未受注" %></td>
        <!-- <td><%= support_program.order_status %></td> -->
        <td><%= support_program.kick_off_date %></td>
        <td><%= support_program.closed %></td>
        <td><%= link_to t('view.support_programs.show'), support_program %></td>
        <td><%= link_to t('view.support_programs.edit'), edit_support_program_path(support_program) %></td>
        <td><%= link_to t('view.support_programs.delete'), support_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.support_programs.to_new'), new_support_program_path %>
