<h1><% provide(:title,t('view.detail_reports.detail_report_confirm')) %></h1>
<%= form_with(model: @detail_report, local: true ) do |form| %>

<div class="container">
  <div class="upper-box">
    <div>
      <%= form.hidden_field :support_program_id %>
    </div>
    <div>
      <%= form.hidden_field :ordered_date %>
    </div>
    <div>
      <%= form.hidden_field :ordered_price %>
    </div>
    <div>
      <%= form.hidden_field :actual_kickoff_date %>
    </div>
    <div>
      <%= form.hidden_field :actual_complete_date %>
    </div>
    <div>
      <%= form.hidden_field :service_detail %>
    </div>
    <div>
      <%= form.hidden_field :results %>
    </div>
    <div>
      <%= form.hidden_field :evaluation %>
    </div>
    <div>
      <%= form.hidden_field :evaluation_details %>
    </div>
    <div>
      <p><b><%= t('view.support_programs.title') %>:&emsp;</b> <%= @detail_report.support_program.title %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.ordered_date') %>:&emsp;</b> <%= @detail_report.ordered_date.strftime(t('datetime.prompts.year_manth_day')) %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.ordered_price') %>:&emsp;</b> <%= @detail_report.ordered_price.to_s(:delimited) %>円</P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.actual_kickoff_date') %>:&emsp;</b> <%= @detail_report.actual_kickoff_date.strftime(t('datetime.prompts.year_manth_day')) %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.actual_complete_date')%>:&emsp;</b> <%= @detail_report.actual_complete_date.strftime(t('datetime.prompts.year_manth_day')) %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.service_detail') %>:&emsp;</b> <%= @detail_report.service_detail %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.results') %>:&emsp;</b> <%= @detail_report.results %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.evaluation') %>:&emsp;</b> <%= @detail_report.evaluation_i18n %></P>
    </div>
    <div>
      <p><b><%= t('view.detail_reports.evaluation_details') %>:&emsp;</b> <%= @detail_report.evaluation_details %></P>
    </div>
    <div class="create-new">
     <%= form.submit t('view.detail_reports.confirm_to_submit'), class:"btn btn-danger" %>
    </div>
    <div class="create-new">
      <%= link_to t('view.detail_reports.back'), new_support_program_detail_report_path, name: 'back', class:"btn btn-primary"%>
    </div>
  </div>
</div>
<% end %>
