<h1>作業報告 -登録確認-</h1>
<%= form_with(model: @detail_report, local: true ) do |form| %>
<div>
  <%= form.hidden_field :support_program_id %>
</div>
<div>
  <%= form.hidden_field :ordered_date %>
</div>
<div>
  <%= form.hidden_field :ordered_price %>
</div>
<div>
  <%= form.hidden_field :actual_kickoff_date %>
</div>
<div>
  <%= form.hidden_field :actual_complete_date %>
</div>
<div>
  <%= form.hidden_field :service_detail %>
</div>
<div>
  <%= form.hidden_field :photo %>
</div>
<div>
  <%= form.hidden_field :results %>
</div>
<div>
  <%= form.hidden_field :evaluation %>
</div>
<div>
  <%= form.hidden_field :evaluation_details %>
</div>
<div>
  <P><%= t('view.support_programs.title') %>: <%= @detail_report.support_program.title %></P>
</div>
<div>
  <P><%= t('view.detail_reports.ordered_date') %>: <%= @detail_report.ordered_date %></P>
</div>
<div>
  <P><%= t('view.detail_reports.ordered_price') %>: <%= @detail_report.ordered_price %></P>
</div>
<div>
  <P><%= t('view.detail_reports.actual_kickoff_date') %>: <%= @detail_report.actual_kickoff_date %></P>
</div>
<div>
  <P><%= t('view.detail_reports.actual_complete_date')%>: <%= @detail_report.actual_complete_date %></P>
</div>
<div>
  <P><%= t('view.detail_reports.service_detail') %>: <%= @detail_report.service_detail %></P>
</div>
<div>
  <P><%= t('view.detail_reports.photo') %>: <%= @detail_report.photo %></P>
</div>
<div>
  <P><%= t('view.detail_reports.results') %>: <%= @detail_report.results %></P>
</div>
<div>
  <P><%= t('view.detail_reports.evaluation') %>: <%= @detail_report.evaluation %></P>
</div>
<div>
  <P><%= t('view.detail_reports.evaluation_details') %>: <%= @detail_report.evaluation_details %></P>
</div>
<div>
 <%= form.submit t('view.detail_reports.confirm_to_submit') %>
</div>
<div>
  <%= link_to t('view.detail_reports.back'), new_support_program_detail_report_path, name: 'back'%>
</div>
<% end %>
