<h1><% provide(:title,t('view.detail_reports.detail_report_show')) %></h1>
<p id="notice"><%= notice %>

<div class="container">
  <div class="upper-box">
    <h3><%= t('view.support_programs.support_program_show')%></h3>
    <div class="row">
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.title_number') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.title_number %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.customer') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.customer.name %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.title') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.title %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.main_work') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.main_work %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.planed_or_argent') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.planed_or_argent_i18n %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.order_status') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.order_status == true ? "受注済" : "未受注" %></p>
      </div>
    </div>
    <h3><%= t('view.detail_reports.detail_report_show')%></h3>
    <div class="row">
      <div class="col-xs-4">
        <p><b><%= t('view.detail_reports.ordered_date') %>:</b>&emsp;</strong>
        <%= @detail_report.ordered_date.strftime(t('datetime.prompts.year_manth_day')) %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.detail_reports.ordered_price') %>:</b>&emsp;</strong>
        <%= @detail_report.ordered_price.to_s(:delimited) %>円</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4""col-xs-4">
        <p><b><%= t('view.support_programs.kick_off_date') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.kick_off_date.strftime(t('datetime.prompts.year_manth_day')) %></p>
      </div>
      <div class="col-xs-4">
        <p><b><%= t('view.detail_reports.actual_kickoff_date') %>:</b>&emsp;</strong>
        <%= @detail_report.actual_kickoff_date.strftime(t('datetime.prompts.year_manth_day')) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
      <p><b><%= t('view.support_programs.closed')%>:</b>&emsp;</strong>
      <%= @detail_report.support_program.closed %></p>
      </div>
      <div class="col-xs-4">
      <p><b><%= t('view.detail_reports.actual_complete_date')%>:</b>&emsp;</strong>
      <%= @detail_report.actual_complete_date %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <p><b><%= t('view.detail_reports.service_detail') %>:</b>&emsp;</strong>
      <%= @detail_report.service_detail %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <p><b><%= t('view.detail_reports.results') %>:</b>&emsp;</strong>
      <%= @detail_report.results %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <p><b><%= t('view.detail_reports.evaluation') %>:</b>&emsp;</strong>
        <%= @detail_report.evaluation_i18n %></p>
      </div>
      <div class="col-xs-10">
        <p><b><%= t('view.detail_reports.evaluation_details') %>:</b>&emsp;</strong>
        <%= @detail_report.evaluation_details %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <p><b><%= t('view.support_programs.user') %>:</b>&emsp;</strong>
        <%= @detail_report.support_program.user.name %></p>
      </div>
    </div>
    <div class="create-new">
      <% if boss_and_admin_display %>
        <%= link_to t('view.detail_reports.to_boss_check_comment'), new_support_program_detail_report_boss_check_comment_path(@support_program, @detail_report.id), class:"btn btn-success btn-lg"%>
      <% end %>
    </div>
    <div>
      <%= link_to t('view.detail_reports.to_index'), detail_reports_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
