<h1>ユーザー管理画面</h1>
<table border="1">
<thead>
  <tr>
    <th><%= t('view.users.index.id') %></th>
    <th><%= t('view.users.index.number') %></th>
    <th><%= t('view.users.index.name') %></th>
    <th><%= t('view.users.index.department') %></th>
    <th><%= t('view.users.index.position') %></th>
    <th><%= t('view.users.index.permission') %></th>
    <th><%= t('view.users.index.email') %></th>
    <th><%= t('view.users.index.cellphone_number') %></th>
    <th><%= t('view.users.index.stay_or_left') %></th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.employee_number %></td>
    <td><%= user.name %></td>
    <td><%= user.department %></td>
    <td><%= user.position %></td>
    <td><%= user.permission %></td>
    <td><%= user.email %></td>
    <td><%= user.cellphone_number %></td>
    <td><%= user.stay_or_left %></td>
    <td><%= link_to "詳細へ", user_path(user.id) %></td>
  </tr>
  <% end %>
</tbody>
</table>
<%= link_to "管理者", rails_admin_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
