<h1>社員情報 一覧</h1>

<%= search_form_for @search do |form| %>
<div class="field">
  <%= form.label :employee_number_eq, "社員番号 検索: " %>
  <%= form.text_field :employee_number_eq %>
</div>
<div class="field">
  <%= form.label :name_cont, "名前 検索: " %>
  <%= form.text_field :name_cont %>
</div>
<div>
  <%= form.label :department_eq, "部署 検索: " %>
  <%= form.select :department_eq, [['営業部', 0], ['技術部', 1], ['システム部', 2]],
   {include_blank: '選択なし'}, class: 'sample' %></div>
</div>
<div class="action"><%= form.submit "Search" %></div>
<% end %>

<table border="1">
<thead>
  <tr>
    <th><%= t('view.users.id') %></th>
    <th><%= sort_link @search, :employee_number, t('view.users.number') %></th>
    <th><%= sort_link @search, :name, t('view.users.name') %></th>
    <th><%= sort_link @search, :department, t('view.users.department') %></th>
    <th><%= t('view.users.position') %></th>
    <th><%= t('view.users.permission') %></th>
    <th><%= t('view.users.email') %></th>
    <th><%= t('view.users.cellphone_number') %></th>
    <th><%= t('view.users.stay_or_left') %></th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.employee_number %></td>
    <td><%= user.name %></td>
    <td><%= user.department %></td>
    <td><%= user.position %></td>
    <td><%= user.permission %></td>
    <td><%= user.email %></td>
    <td><%= user.cellphone_number %></td>
    <td><%= user.stay_or_left %></td>
    <td><%= link_to t('view.users.show'), user_path(user.id) %></td>
  </tr>
  <% end %>
</tbody>
</table>
<%= link_to "管理者", rails_admin_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
