<h1>社員情報 一覧</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.users.id') %>:</strong>
  <%= @user.id %>
</p>
<p>
  <strong><%= t('view.users.number') %>:</strong>
  <%= @user.employee_number %>
</p>
<p>
  <strong><%= t('view.users.name') %>:</strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t('view.users.department') %>:</strong>
  <%= @user.department %>
</p>
<p>
  <strong><%= t('view.users.position') %>:</strong>
  <%= @user.position %>
</p>
<p>
  <strong><%= t('view.users.email') %>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= t('view.users.cellphone_number') %>:</strong>
  <%= @user.cellphone_number %>
</p>
<p>
  <strong><%= t('view.users.stay_or_left') %>:</strong>
  <%= @user.stay_or_left %>
</p>
<%= link_to 'Back', users_path %>
