<%= form_with(model: @sales_check_comment, local: true, url: choose_new_or_edit_sales) do |form| %>
  <% if sales_check_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_check_comment.errors.count, "error") %> prohibited this sales_check_comment from being saved:</h2>

      <ul>
      <% sales_check_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div>
    <p><b><%= t('view.support_programs.title_number') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.title_number %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.customer') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.customer.name %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.title') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.title %></p>
  </div>
</div>
  <div>
    <p><b><%= t('view.support_programs.user') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.user.name %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.main_work') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.main_work %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.planed_or_argent') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.planed_or_argent %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.order_status') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.order_status %></p>
  </div>


  <!-- <div>
    <p><b>Supportprogram:</b>
    <%= @boss_check_comment.detail_report.support_program.title %></p>
  </div> -->

  <div>
    <p><b><%= t('view.detail_reports.ordered_date') %>:</b>
    <%= @boss_check_comment.detail_report.ordered_date %></p>
  </div>

  <div>
    <p><b><%= t('view.detail_reports.ordered_price') %>:</b>
    <%= @boss_check_comment.detail_report.ordered_price %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.kick_off_date') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.kick_off_date %></p>
  </div>
  <div>
    <p><b><%= t('view.detail_reports.actual_kickoff_date') %>:</b>
    <%= @boss_check_comment.detail_report.actual_kickoff_date %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.closed') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.closed %></p>
  </div>
  <div>
    <p><b><%= t('view.detail_reports.actual_complete_date') %>::</b>
    <%= @boss_check_comment.detail_report.actual_complete_date %></p>
  </div>

  <div>
    <p><b><%= t('view.detail_reports.service_detail') %>:</b>
    <%= @boss_check_comment.detail_report.service_detail %></p>
  </div>

  <div>
    <p><b><%= t('view.detail_reports.photo') %>:</b>
    <%= @boss_check_comment.detail_report.photo %></p>
  </div>
  <div>
    <p><b><%= t('view.detail_reports.results') %>:</b>
    <%= @boss_check_comment.detail_report.results %></p>
  </div>

  <div>
    <p><b><%= t('view.detail_reports.evaluation') %>:</b>
    <%= @boss_check_comment.detail_report.evaluation %></p>
  </div>

  <div>
    <p><b><%= t('view.detail_reports.evaluation_details') %>:</b>
    <%= @boss_check_comment.detail_report.evaluation_details %></p>
  </div>
  <div>
    <p><b><%= t('view.support_programs.user') %>:</b>
    <%= @boss_check_comment.detail_report.support_program.title %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.confirmation') %>:</b>
    <%= @boss_check_comment.confirmation %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.confirmation_date') %>:</b>
    <%= @boss_check_comment.confirmation_date %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.positive_comment') %>:</b>
    <%= @boss_check_comment.positive_comment %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.negative_comment') %>:</b>
    <%= @boss_check_comment.negative_comment %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.assistance') %>:</b>
    <%= @boss_check_comment.assistance %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.questions') %>:</b>
    <%= @boss_check_comment.questions %></p>
  </div>

  <div>
    <p><b><%= t('view.boss_check_comments.report_to_sales') %>:</b>
    <%= @boss_check_comment.report_to_sales %></p>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.id') %>
    <%= form.select :boss_check_comment_id, BossCheckComment.all.map{|o| [o.detail_report.support_program.title, o.id]} %>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.confirmation') %><br />
    <%= form.select :confirmation, {"確認済": "ture", "未確認": "false"}, autofocus: true, autocomplete: "confirmation" %>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.confirmation_date')  %>
    <%= form.date_select :confirmation_date %>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.comment') %>
    <%= form.text_area :comments %>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.discussion_possibility') %><br />
    <%= form.select :discussion_possibility, {"有り": "ture", "無し": "false"}, autofocus: true, autocomplete: "discussion_possibility" %>
  </div>

  <div class="field">
    <%= form.label t('view.sales_check_comments.matter_closed') %><br />
    <%= form.select :matter_closed, {"承認済": "ture", "未承認": "false"}, autofocus: true, autocomplete: "matter_closed" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
