<h1>営業確認 -詳細- </h1>
<%= form_with(model: @sales_check_comment, local: true) do |form| %>
<div>
  <%= form.hidden_field :boss_check_comment_id %>
</div>
<div>
  <%= form.hidden_field :confirmation %>
</div>
<div>
  <%= form.hidden_field :confirmation_date %>
</div>
<div>
  <%= form.hidden_field :comments %>
</div>
<div>
  <%= form.hidden_field :discussion_possibility %>
</div>
<div>
  <%= form.hidden_field :matter_closed %>
</div>
<div>
  <P><%= t('view.support_programs.title') %>: <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title %></P>
</div>
<div>
  <P><%= t('view.sales_check_comments.confirmation')%>: <%= @sales_check_comment.confirmation %></P>
</div>
<div>
  <P><%= t('view.sales_check_comments.confirmation_date')%>: <%= @sales_check_comment.confirmation_date %></P>
</div>
<div>
  <P><%= t('view.sales_check_comments.comment')%>: <%= @sales_check_comment.comments %></P>
</div>
<div>
  <P><%= t('view.sales_check_comments.discussion_possibility')%>: <%= @sales_check_comment.discussion_possibility %></P>
</div>
<div>
  <P><%= t('view.sales_check_comments.matter_closed')%>: <%= @sales_check_comment.matter_closed %></P>
</div>
<div>
 <%= form.submit t('view.sales_check_comments.confirm_to_submit') %>
</div>
<div>
  <%= form.submit 'back', name: 'back'%>
</div>
<% end %>
