<p id="notice"><%= notice %></p>

<h1>営業確認 一覧</h1>
<%= search_form_for @search do |form| %>
<div>
  <%= form.label :discussion_possibility_eq, "協議の必要性 検索: " %>
  <%= form.select :discussion_possibility_eq, [['有り', true], ['無し', false]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div>
  <%= form.label :confirmation_eq, "営業確認 検索: " %>
  <%= form.select :confirmation_eq, [['確認済', true], ['未確認', false]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div>
  <%= form.label :boss_check_comments_confirmation_eq, "上長承認 検索: " %>
  <%= form.select :boss_check_comment_confirmation_eq, [['承認済', true], ['未承認', false]],
   {include_blank: '選択なし'}, class: 'sample' %>
</div>
<div class="action"><%= form.submit "Search" %></div>
<% end %>

<table border="1">
  <thead>
    <tr>
      <th><%= t('view.support_programs.title_number') %></th>
      <th><%= t('view.customers.customer') %></th>
      <th><%= t('view.support_programs.title') %></th>
      <th><%= t('view.sales_check_comments.confirmation') %></th>
      <th><%= sort_link @search, :confirmation_date, t('view.sales_check_comments.confirmation_date') %></th>
      <th><%= t('view.sales_check_comments.comment') %></th>
      <th><%= t('view.sales_check_comments.discussion_possibility') %></th>
      <th><%= t('view.sales_check_comments.matter_closed') %></th>
      <th><%= t('view.boss_check_comments.confirmation') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_check_comments.each do |sales_check_comment| %>
      <tr>
        <td><%= sales_check_comment.boss_check_comment.detail_report.support_program.title_number %></td>
        <td><%= sales_check_comment.boss_check_comment.detail_report.support_program.customer.name %></td>
        <td><%= sales_check_comment.boss_check_comment.detail_report.support_program.title %></td>
        <td><%= sales_check_comment.confirmation == true ? "確認済" : "未確認" %></td>
        <!-- <td><%= sales_check_comment.confirmation %></td> -->
        <td><%= sales_check_comment.confirmation_date %></td>
        <td><%= sales_check_comment.comments %></td>
        <td><%= sales_check_comment.discussion_possibility == true ? " 有り" : "無し" %></td>
        <td><%= sales_check_comment.matter_closed == true ? " 承認済" : "未承認" %></td>
        <td><%= sales_check_comment.boss_check_comment.confirmation == true ? " 承認済" : "未承認"  %></td>
        <td><%= link_to t('view.sales_check_comments.show'), sales_check_comment %></td>
        <td><%= link_to t('view.sales_check_comments.delete'), sales_check_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
