<h1><% provide(:title,t('view.sales_check_comments.sales_check_comment_index')) %></h1>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="upper-box">
    <%= search_form_for @search do |form| %>
    <div class="row">
      <div class="field form-group col-xs-3">
        <%= form.label :discussion_possibility_eq, t('view.sales_check_comments.search_need'), class:"control-label"  %>
        <%= form.select :discussion_possibility_eq, [['有り', true], ['無し', false]],
        {include_blank: '選択なし'}, class: 'sample', class:"form-control"  %>
      </div>
      <div class="field form-group col-xs-3">
        <%= form.label :confirmation_eq, t('view.sales_check_comments.search_confirm'), class:"control-label"  %>
        <%= form.select :confirmation_eq, [['確認済', true], ['未確認', false]],
        {include_blank: '選択なし'}, class: 'sample', class:"form-control"  %>
      </div>
      <div class="field form-group col-xs-3">
        <%= form.label :boss_check_comments_confirmation_eq, t('view.sales_check_comments.search_approval'), class:"control-label"  %>
        <%= form.select :boss_check_comment_confirmation_eq, [['承認済', true], ['未承認', false]],
        {include_blank: '選択なし'}, class: 'sample', class:"form-control"  %>
      </div>
    </div>
    <div class="action"><%= form.submit t('view.sales_check_comments.search'), class:"btn btn-primary"  %></div>
    <% end %>
  </div>
  <table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th><%= t('view.support_programs.title_number') %></th>
        <th><%= t('view.customers.customer') %></th>
        <th><%= t('view.support_programs.title') %></th>
        <th><%= t('view.sales_check_comments.confirmation') %></th>
        <th><%= sort_link @search, :confirmation_date, t('view.sales_check_comments.confirmation_date') %></th>
        <th><%= t('view.sales_check_comments.discussion_possibility') %></th>
        <th><%= t('view.sales_check_comments.matter_closed') %></th>
        <th><%= t('view.boss_check_comments.confirmation') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @sales_check_comments.each do |sales_check_comment| %>
      <tr>
        <td class="text-center"><%= sales_check_comment.boss_check_comment.detail_report.support_program.title_number %></td>
        <td><%= sales_check_comment.boss_check_comment.detail_report.support_program.customer.name %></td>
        <td><%= sales_check_comment.boss_check_comment.detail_report.support_program.title %></td>
        <td><%= sales_check_comment.confirmation == true ? t('view.sales_check_comments.confirmed') : "未確認" %></td>
        <td><%= sales_check_comment.confirmation_date.strftime("%Y年%m月%d日") %></td>
        <td><%= sales_check_comment.discussion_possibility == true ? " 有り" : "無し" %></td>
        <td><%= sales_check_comment.matter_closed == true ? " 承認済" : "未承認" %></td>
        <td><%= sales_check_comment.boss_check_comment.confirmation == true ? " 承認済" : "未承認"  %></td>
        <td><%= link_to t('view.sales_check_comments.show'), sales_check_comment, class:"btn btn-info btn-xs" %></td>
        <td><%= link_to t('view.sales_check_comments.delete'), sales_check_comment, method: :delete, data: { confirm: '削除しますが?' }, class:"btn btn-danger btn-xs" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @sales_check_comments %>
</div>
