<p id="notice"><%= notice %></p>
<p>
  <strong>Title number:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title_number %>
</p>
<p>
  <strong>Customer:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.customer.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.user.name %>
</p>
<p>
  <strong>Main work:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.main_work %>
</p>
<p>
  <strong>Planed or argent:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.planed_or_argent %>
</p>
<p>
  <strong>Order status:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.order_status %>
</p>
<p>
  <strong>Kick off date:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.kick_off_date %>
</p>
<p>
  <strong>Closed:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.closed %>
</p>


<p>
  <strong>Support program:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title %>
</p>

<p>
  <strong>Ordered date:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.ordered_date %>
</p>

<p>
  <strong>Ordered price:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.ordered_price %>
</p>

<p>
  <strong>Actual kickoff date:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.actual_kickoff_date %>
</p>

<p>
  <strong>Actual complete date:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.actual_complete_date %>
</p>

<p>
  <strong>Service detail:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.service_detail %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.photo %>
</p>
<p>
  <strong>Results:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.results %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.evaluation %>
</p>

<p>
  <strong>Evaluation details:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.evaluation_details %>
</p>
<p>
  <strong>Detail report:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @sales_check_comment.boss_check_comment.confirmation %>
</p>

<p>
  <strong>Confirmation date:</strong>
  <%= @sales_check_comment.boss_check_comment.confirmation_date %>
</p>

<p>
  <strong>Positive comment:</strong>
  <%= @sales_check_comment.boss_check_comment.positive_comment %>
</p>

<p>
  <strong>Negative comment:</strong>
  <%= @sales_check_comment.boss_check_comment.negative_comment %>
</p>

<p>
  <strong>Assistance:</strong>
  <%= @sales_check_comment.boss_check_comment.assistance %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @sales_check_comment.boss_check_comment.questions %>
</p>

<p>
  <strong>Report to sales:</strong>
  <%= @sales_check_comment.boss_check_comment.report_to_sales %>
</p>
<p>
  <strong>Boss check comment:</strong>
  <%= @sales_check_comment.boss_check_comment.detail_report.support_program.title %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @sales_check_comment.confirmation %>
</p>

<p>
  <strong>Confirmation date:</strong>
  <%= @sales_check_comment.confirmation_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @sales_check_comment.comments %>
</p>

<p>
  <strong>Discussion possibility:</strong>
  <%= @sales_check_comment.discussion_possibility %>
</p>

<p>
  <strong>Matter closed:</strong>
  <%= @sales_check_comment.matter_closed %>
</p>

<%= link_to 'Edit', edit_sales_check_comment_path(@sales_check_comment) %> |
<%= link_to 'Back', sales_check_comments_path %>
