<%= form_with(model: @customer, local: true, url: choose_new_or_edit_customer ) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row">
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.customer_number'), class:"control-label" %>
    <%= form.number_field :customer_number, class: "form-control" %>
  </div>
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.customer'), class:"control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.profession') %>
    <%= form.text_field :profession, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.customer_in_charge'), class:"control-label" %>
    <%= form.text_field :customer_in_charge, class: "form-control" %>
  </div>
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.department'), class:"control-label" %>
    <%= form.text_field :department, class: "form-control" %>
  </div>
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.position'), class:"control-label" %>
    <%= form.text_field :position, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.phone_number'), class:"control-label" %>
    <%= form.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="field form-group col-xs-4">
    <%= form.label t('view.customers.employee_in_charge'), class:"control-label"  %>
    <%= form.select :user_id, User.all.map{|o| [o.name, o.id]},{}, class: "form-control" %>
  </div>
</div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
