<%= form_with(model: @customer, local: true) do |form| %>
<div>
  <%= form.hidden_field :customer_number %>
</div>
<div>
  <%= form.hidden_field :name %>
</div>
<div>
  <%= form.hidden_field :profession %>
</div>
<div>
  <%= form.hidden_field :customer_in_charge %>
</div>
<div>
  <%= form.hidden_field :department %>
</div>
<div>
  <%= form.hidden_field :position %>
</div>
<div>
  <%= form.hidden_field :phone_number %>
</div>
<div>
  <%= form.hidden_field :user_id %>
</div>
<div>
  <P>customer_number: <%= @customer.customer_number %></P>
</div>
<div>
  <P>name: <%= @customer.name %></P>
</div>
<div>
  <P>profession: <%= @customer.profession %></P>
</div>
<div>
  <P>customer_in_charge: <%= @customer.customer_in_charge %></P>
</div>
<div>
  <P>department: <%= @customer.department %></P>
</div>
<div>
  <P>position: <%= @customer.position %></P>
</div>
<div>
  <P>phone_number: <%= @customer.phone_number %></P>
</div>
<div>
  <P>employee_in_charge: <%= @customer.user.name %></P>
</div>
 <div>
   <%= form.submit "submit"%>
 </div>
 <%= form.submit 'back', name: 'back'%>
 <% end %>
