<p id="notice"><%= notice %></p>

<h1>顧客情報 一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th><%= t('view.customers.customer_number') %></th>
      <th><%= t('view.customers.customer') %></th>
      <th><%= t('view.customers.profession') %></th>
      <th><%= t('view.customers.customer_in_charge') %></th>
      <th><%= t('view.customers.department') %></th>
      <th><%= t('view.customers.position') %></th>
      <th><%= t('view.customers.phone_number') %></th>
      <th><%= t('view.customers.installed_products') %></th>
      <th><%= t('view.customers.support_programs') %></th>
      <th><%= t('view.customers.employee_in_charge') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_number %></td>
        <td><%= customer.name %></td>
        <td><%= customer.profession %></td>
        <td><%= customer.customer_in_charge %></td>
        <td><%= customer.department %></td>
        <td><%= customer.position %></td>
        <td><%= customer.phone_number %></td>
        <td><% customer.installed_products.each do | installed_product | %>
          <ul>
            <li><%= installed_product.product.name %></li>
          </ul>
          <% end %>
        </td>
        <td><% customer.support_programs.each do | support_program | %>
          <ul>
            <li><%= support_program.title %></li>
          </ul>
          <% end %>
        </td>
        <td><%= customer.user.name %></td>
        <td><%= link_to t('view.customers.show'), customer %></td>
        <td><%= link_to t('view.customers.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to t('view.customers.delete'), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.customers.to_new'), new_customer_path %>
