<h1><% provide(:title,"顧客情報 -詳細-") %></h1>
<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="container">
    <div class="upper-box">
      <div>
        <p><b><%= t('view.customers.customer_number') %>:</b>&emsp;
        <%= @customer.customer_number %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.customer') %>:</b>&emsp;
        <%= @customer.name %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.profession') %>:</b>&emsp;
        <%= @customer.profession %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.customer_in_charge') %>:</b>&emsp;
        <%= @customer.customer_in_charge %></p>
      </div>

      <div>
        <p><b><%= t('view.customers.department') %>:</b>&emsp;
        <%= @customer.department %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.position') %>:</b>&emsp;
        <%= @customer.position %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.phone_number') %>:</b>&emsp;
        <%= @customer.phone_number %></p>
      </div>
      <div>
        <p><b><%= t('view.customers.installed_products') %>:</b>&emsp;
        <% @customer.installed_products.each do | installed_product | %></p>
        <ul>
          <li><%= installed_product.product.name %></li>
        </ul>
        <% end %>
      </div>
      <div>
        <p><b><%= t('view.customers.support_programs') %>:</b>&emsp;
        <% @customer.support_programs.each do | support_program | %></p>
        <ul>
          <li><%= support_program.title %></li>
        </ul>
        <% end %>
      </div>
      <div>
        <p><b><%= t('view.customers.employee_in_charge') %>:</b>&emsp;
        <%= @customer.user.name %></p>
      </div>

      <div class="create-new">
        <%= link_to t('view.customers.edit'), edit_customer_path(@customer), class:"btn btn-warning" %>
      </div>
      <div class="create-new">
        <%= link_to t('view.customers.to_index'), customers_path, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>
