<p id="notice"><%= notice %></p>
<h1>顧客情報 -詳細-</h1>

<p>
  <strong><%= t('view.customers.customer_number') %>:</strong>
  <%= @customer.customer_number %>
</p>

<p>
  <strong><%= t('view.customers.customer') %>:</strong>
  <%= @customer.name %>
</p>


<p>
  <strong><%= t('view.customers.profession') %>:</strong>
  <%= @customer.profession %>
</p>

<p>
  <strong><%= t('view.customers.customer_in_charge') %>:</strong>
  <%= @customer.customer_in_charge %>
</p>

<p>
  <strong><%= t('view.customers.department') %>:</strong>
  <%= @customer.department %>
</p>

<p>
  <strong><%= t('view.customers.position') %>:</strong>
  <%= @customer.position %>
</p>
<p>
  <strong><%= t('view.customers.phone_number') %>:</strong>
  <%= @customer.phone_number %>
</p>
<p>
  <strong><%= t('view.customers.installed_products') %>:</strong>
  <% @customer.installed_products.each do | installed_product | %>
  <ul>
    <li><%= installed_product.product.name %></li>
  </ul>
  <% end %>
</p>

<p>
  <strong><%= t('view.customers.support_programs') %>:</strong>
  <% @customer.support_programs.each do | support_program | %>
  <ul>
    <li><%= support_program.title %></li>
  </ul>
  <% end %>
</p>


<p>
  <strong><%= t('view.customers.employee_in_charge') %>:</strong>
  <%= @customer.user.name %>
</p>

<%= link_to t('view.customers.edit'), edit_customer_path(@customer) %> |
<%= link_to t('view.customers.to_index'), customers_path %>
