<p id="notice"><%= notice %></p>

<h1>納入機器情報 一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th><%= t('view.customers.customer') %></th>
      <th><%= t('view.products.name') %></th>
      <th><%= t('view.installed_products.serial_number') %></th>
      <th><%= t('view.installed_products.installed_date') %></th>
      <th><%= t('view.installed_products.discount_price') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installed_products.each do |installed_product| %>
      <tr>
        <td><%= installed_product.customer.name %></td>
        <td><%= installed_product.product.name %></td>
        <td><%= installed_product.serial_number %></td>
        <td><%= installed_product.installed_date %></td>
        <td><%= installed_product.discount_price %></td>
        <td><%= link_to t('view.parts.show'), installed_product %></td>
        <td><%= link_to t('view.parts.edit'), edit_installed_product_path(installed_product) %></td>
        <td><%= link_to t('view.parts.delete'), installed_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.parts.to_new'), new_installed_product_path %>
