<p id="notice"><%= notice %></p>
<h1>納入機器 -詳細-</h1>
<p>
  <strong><%= t('view.customers.customer') %>:</strong>
  <%= @installed_product.customer.name %>
</p>
<p>
  <strong><%= t('view.products.name') %>:</strong>
  <%= @installed_product.product.name %>
</p>
<p>
  <strong><%= t('view.installed_products.serial_number') %>:</strong>
  <%= @installed_product.serial_number %>
</p>
<p>
  <strong><%= t('view.installed_products.installed_date') %>:</strong>
  <%= @installed_product.installed_date %>
</p>
<p>
  <strong><%= t('view.installed_products.discount_price') %>:</strong>
  <%= @installed_product.discount_price %>
</p>

<%= link_to t('view.installed_products.edit'), edit_installed_product_path(@installed_product) %> |
<%= link_to t('view.installed_products.to_index'), installed_products_path %>
