<h1><% provide(:title,t('view.devise.login_title')) %></h1>

<%- flash.each do |name, msg| -%>
   <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
 <%- end -%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="login-signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="cover-image-login col-xs-6">
        <%= render 'layouts/cover_page'%>
      </div>
      <div class="container login-top col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title login-font-size"><%= t('view.devise.login_title') %></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="field form-group col-xs-8">
                <%= f.label t('view.users.number'), class:"control-label" %><br />
                <%= f.text_field :employee_number, autofocus: true, autocomplete: "employee_number", class:"form-control", placeholder: t('view.devise.please_number') %>
              </div>
            </div>
            <div class="row">
              <div class="field form-group col-xs-8">
                <%= f.label t('view.users.email'), class:"control-label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: t('view.devise.please_mail') %>
              </div>
            </div>
            <div class="row">
              <div class="field form-group col-xs-8">
                <%= f.label t('view.users.password'), class:"control-label"  %><br />
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: t('view.devise.please_in_pass') %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="checkbox checkbox-place">
              <%= f.check_box :remember_me %>
              <P class="test"><%= f.label t('view.users.remember_me') %></P>
            </div>
            <% end %>
            <div class="actions">
              <%= f.submit t('view.users.log_in'), class:"btn btn-primary"%>
            </div>
          </div>
          <div class="panel-fotter">
            <%= render "devise/shared/links"%>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
<% end %>
