<h1>上長確認 -新規登録確認-</h1>
<%= form_with(model: @boss_check_comment, local: true) do |form| %>
<div>
  <%= form.hidden_field :detail_report_id %>
</div>
<div>
  <%= form.hidden_field :confirmation %>
</div>
<div>
  <%= form.hidden_field :confirmation_date %>
</div>
<div>
  <%= form.hidden_field :positive_comment %>
</div>
<div>
  <%= form.hidden_field :negative_comment %>
</div>
<div>
  <%= form.hidden_field :assistance %>
</div>
<div>
  <%= form.hidden_field :questions %>
</div>
<div>
  <%= form.hidden_field :report_to_sales %>
</div>
<div>
  <P><%= t('view.support_programs.title') %>: <%= @boss_check_comment.detail_report.support_program.title %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.confirmation') %>: <%= @boss_check_comment.confirmation %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.confirmation_date') %>: <%= @boss_check_comment.confirmation_date %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.positive_comment') %>: <%= @boss_check_comment.positive_comment %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.negative_comment') %>: <%= @boss_check_comment.negative_comment %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.assistance') %>: <%= @boss_check_comment.assistance %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.questions') %>: <%= @boss_check_comment.questions %></P>
</div>
<div>
  <P><%= t('view.boss_check_comments.report_to_sales') %>: <%= @boss_check_comment.report_to_sales %></P>
</div>
<div>
 <%= form.submit t('view.boss_check_comments.confirm_to_submit') %>
</div>
<div>
  <%= link_to t('view.boss_check_comments.back'), new_support_program_detail_report_boss_check_comment_path, name: 'back'%>
</div>
<% end %>
