<%= form_with(model: @boss_check_comment, local: true) do |form| %>
<div>
  <%= form.hidden_field :detail_report_id %>
</div>
<div>
  <%= form.hidden_field :confirmation %>
</div>
<div>
  <%= form.hidden_field :confirmation_date %>
</div>
<div>
  <%= form.hidden_field :positive_comment %>
</div>
<div>
  <%= form.hidden_field :negative_comment %>
</div>
<div>
  <%= form.hidden_field :assistance %>
</div>
<div>
  <%= form.hidden_field :questions %>
</div>
<div>
  <%= form.hidden_field :report_to_sales %>
</div>
<div>
  <P>detail_report_id: <%= @boss_check_comment.detail_report.support_program.title %></P>
</div>
<div>
  <P>confirmation: <%= @boss_check_comment.confirmation %></P>
</div>
<div>
  <P>confirmation_date: <%= @boss_check_comment.confirmation_date %></P>
</div>
<div>
  <P>positive_comment: <%= @boss_check_comment.positive_comment %></P>
</div>
<div>
  <P>negative_comment: <%= @boss_check_comment.negative_comment %></P>
</div>
<div>
  <P>assistance: <%= @boss_check_comment.assistance %></P>
</div>
<div>
  <P>questions: <%= @boss_check_comment.questions %></P>
</div>
<div>
  <P>report_to_sales: <%= @boss_check_comment.report_to_sales %></P>
</div>
<div>
 <%= form.submit "submit"%>
</div>
<div>
  <%= form.submit 'back', name: 'back'%>
</div>
<% end %>
