<%= form_with(model: @product, local: true) do |form| %>
<div>
  <%= form.hidden_field :name %>
</div>
<div>
  <%= form.hidden_field :type_name %>
</div>
<div>
  <%= form.hidden_field :category %>
</div>
<div>
  <%= form.hidden_field :list_price %>
</div>
<div>
  <%= form.hidden_field :release_date %>
</div>
<div>
  <%= form.hidden_field :end_of_production %>
</div>
<div>
  <%= form.hidden_field :end_of_service %>
</div>
<div>
<div>
  <P><%= t('view.products.name') %>: <%= @product.name %></P>
</div>
<div>
  <P><%= t('view.products.type_name') %>: <%= @product.type_name %></P>
</div>
<div>
  <P><%= t('view.products.category') %>: <%= @product.category %></P>
</div>
<div>
  <P><%= t('view.products.list_price') %>: <%= @product.list_price %></P>
</div>
<div>
  <P><%= t('view.products.release_date') %>: <%= @product.release_date %></P>
</div>
<div>
  <P><%= t('view.products.end_of_production') %>: <%= @product.end_of_production %></P>
</div>
<div>
  <P><%= t('view.products.end_of_service') %>: <%= @product.end_of_service %></P>
</div>
<div>
 <%= form.submit "submit"%>
</div>
<div>
  <%= form.submit 'back', name: 'back'%>
</div>
<% end %>
