<p id="notice"><%= notice %></p>

<h1>製品情報 一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th><%= t('view.products.name')%></th>
      <th><%= t('view.products.type_name')%></th>
      <th><%= t('view.products.categroy')%></th>
      <th><%= t('view.products.list_price')%></th>
      <th><%= t('view.products.release_date')%></th>
      <th><%= t('view.products.end_of_production')%></th>
      <th><%= t('view.products.end_of_service')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.type_name %></td>
        <td><%= product.category %></td>
        <td><%= product.list_price %></td>
        <td><%= product.release_date %></td>
        <td><%= product.end_of_production %></td>
        <td><%= product.end_of_service %></td>
        <td><%= link_to  t('view.support_programs.show'), product %></td>
        <td><%= link_to  t('view.support_programs.edit'), edit_product_path(product) %></td>
        <td><%= link_to  t('view.support_programs.delete'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.support_programs.to_new'), new_product_path %>
