<h1><% provide(:title,"製品情報 一覧") %></h1>
<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="upper-box">
      <%= search_form_for @search do |form| %>
      <div class="row">
        <div class="field form-group col-xs-3">
          <%= form.label :name_cont, "製品名 検索:", class:"control-label" %>
          <%= form.text_field :name_cont, class:"form-control"  %>
        </div>
        <div class="field form-group col-xs-3">
          <%= form.label :type_name_cont, "型式名 検索:", class:"control-label" %>
          <%= form.text_field :type_name_cont, class:"form-control"  %>
        </div>
        <div class="field form-group col-xs-3">
          <%= form.label :category_cont, "機器種類 検索:", class:"control-label" %>
          <%= form.text_field :category_cont, class:"form-control"  %>
        </div>
      </div>
      <div class="action"><%= form.submit t('view.products.search'), class:"btn btn-primary" %></div>
    </div>
    <% end %>
    <table class="table table-bordered table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th><%= t('view.products.name')%></th>
          <th><%= t('view.products.type_name')%></th>
          <th><%= sort_link @search, :category, t('view.products.category')%></th>
          <th><%= t('view.products.list_price')%></th>
          <th><%= sort_link @search, :release_date, t('view.products.release_date')%></th>
          <th><%= sort_link @search, :end_of_production, t('view.products.end_of_production')%></th>
          <th><%= sort_link @search, :end_of_service, t('view.products.end_of_service')%></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.type_name %></td>
          <td><%= product.category %></td>
          <td><%= product.list_price.to_s(:delimited) %>円</td>
          <td><%= product.release_date %></td>
          <td><%= product.end_of_production %></td>
          <td><%= product.end_of_service %></td>
          <td><%= link_to  t('view.support_programs.show'), product, class:"btn btn-info btn-xs" %></td>
          <% if sales_and_admin_display %>
          <td><%= link_to  t('view.support_programs.edit'), edit_product_path(product), class:"btn btn-warning btn-xs" %></td>
          <td><%= link_to  t('view.support_programs.delete'), product, method: :delete, data: { confirm: '削除します?' }, class:"btn btn-danger btn-xs" %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @products %>
    <div class="create-new pull-right">
      <% if sales_and_admin_display %>
      <%= link_to t('view.support_programs.to_new'), new_product_path, class:"btn btn-success btn-lg"%>
      <% end %>
    </div>
  </div>
