<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.products.name') %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= t('view.products.type_name') %>:</strong>
  <%= @product.type_name %>
</p>

<p>
  <strong><%= t('view.products.category') %>:</strong>
  <%= @product.category %>
</p>

<p>
  <strong><%= t('view.products.list_price') %>:</strong>
  <%= @product.list_price %>
</p>

<p>
  <strong><%= t('view.products.release_date') %>:</strong>
  <%= @product.release_date %>
</p>

<p>
  <strong><%= t('view.products.end_of_production') %>:</strong>
  <%= @product.end_of_production %>
</p>

<p>
  <strong><%= t('view.products.end_of_service') %>:</strong>
  <%= @product.end_of_service %>
</p>

<%= link_to t('view.products.edit'), edit_product_path(@product) %> |
<%= link_to t('view.products.to_index'), products_path %>
