<div class="">
  <div class="">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to t('view.layouts.to_top'), top_index_path %></li>
      <li><%= link_to t('view.tops.allsupports'), allsupports_index_path %></li>
      <li><%= link_to t('view.tops.support_programs'), support_programs_path %></li>
      <li><%= link_to t('view.tops.detail_reports'), detail_reports_path %></li>
      <li><%= link_to t('view.tops.boss_check_comments'), boss_check_comments_path %></li>
      <li><%= link_to t('view.tops.sales_check_comments'), sales_check_comments_path %></li>
      <li><%= link_to t('view.tops.customers'), customers_path %></li>
      <li><%= link_to t('view.tops.installed_products'), installed_products_path %></li>
      <li><%= link_to t('view.tops.products'), products_path %></li>
      <li><%= link_to t('view.tops.parts'), parts_path %></li>
      <li><%= link_to t('view.tops.users'), users_path %></li>
    </ul>
  </div>
</div>
