<div>
  <div class="navbar navbar-dark bg-primary">
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to t('view.layouts.to_top'), top_index_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.allsupports'), allsupports_index_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.support_programs'), support_programs_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.detail_reports'), detail_reports_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.boss_check_comments'), boss_check_comments_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.sales_check_comments'), sales_check_comments_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.customers'), customers_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.installed_products'), installed_products_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.products'), products_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.parts'), parts_path, class:"bg-primary" %></li>
      <li><%= link_to t('view.tops.users'), users_path, class:"bg-primary" %></li>
    </ul>
  </div>
</div>
