<!DOCTYPE html>
<html>
  <head>
    <title>TESTapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <div>
    <% if user_signed_in? %>
    <%= link_to t('view.layouts.to_top'), top_index_path%>
    <%= link_to t('view.layouts.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to t('view.layouts.login'), new_user_session_path %>  </div>
    <% end %>
    <% if user_signed_in? && current_user.permission %>
    <%= link_to t('view.layouts.admin'), rails_admin_path %>
    <% end %>
  </div>
</header>
  <body>
    <%= yield %>
  </body>
  <footer>

  </footer>
</html>
